@import url("./Header.css");
@import url("./statistics.css");
@import url("./timesheetTable.css");
@import url("./buttons.css");
@import url("./calendar.css");
@import url("./modal.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS";

  margin: 0;
  padding: 0;
}
.timesheet_application {
  margin: 0 30px;
  padding: 30px 0;
}
