.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_container {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 16px;
}

.header_logo {
  background-color: #2258bf;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  padding: 4px;
  border-radius: 8px;
  width: 41.77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_main--heading {
  font-weight: 700;
  font-size: 20px;
  color: #1c1c28;
}

.header_selectUnit--container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
  position: relative;
}

.header_selectUnit--tag {
  font-weight: 600;
  font-size: 20px;
  color: #0063f7;
}

.header_selectUnit--dropdown {
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 343px;
}

.dropdown {
  position: absolute;
  top: 40%;
  right: 50px;
  transform: translateY(-50%);
}
